@import url(//db.onlinewebfonts.com/c/b0bc116d1147a46e14ddecc083e553b7?family=Circular+Air+Light);
@import url(//db.onlinewebfonts.com/c/75a1f6889a05c2303915747df0bf0738?family=Imperator);
@import url(//db.onlinewebfonts.com/c/8ef893169826ed67e7d7f61910ff2ab8?family=Circular+Std+Medium+Italic);
.fontHeader {
  padding-top: 15vh;
  width: 330px;
  color: #ffffff;
  font-family: Imperator;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 34px;
  text-align: center;
  margin: auto;
}
.line {
  box-sizing: border-box;
  height: 1px;
  width: 100px;
  border: 1px solid #ffffff;
  margin: 2vh auto;
}

.paragraph {
  height: 92px;
  width: 291px;
  color: #ffffff;
  font-family: "Circular Air";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
  margin: auto;
}
.img {
  height: 147px;
  width: 291px;
}
.imgContainer {
  width: 291px;

  margin: 2vh auto;
}
.paragraph em {
  font-family: "Circular Std Medium Italic";
}
