@import url(//db.onlinewebfonts.com/c/b0bc116d1147a46e14ddecc083e553b7?family=Circular+Air+Light);
@import url(//db.onlinewebfonts.com/c/75a1f6889a05c2303915747df0bf0738?family=Imperator);

.fontHeader {
  padding-top: 15vh;
  width: 330px;
  color: #ffffff;
  font-family: Imperator;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 34px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.line {
  box-sizing: border-box;
  height: 1px;
  width: 100px;
  border: 1px solid #ffffff;
  margin: 2vh auto;
}
.description {
  height: 92px;
  width: 291px;
  color: #ffffff;
  font-family: "Circular Air";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
  margin: 5vh auto;
}

.inputBlock {
  height: 60px;
  width: 291px;
  margin: 5vh auto;
}
.spanInput {
  color: #ffffff;
  font-family: "Circular Air";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  width: 300px;
}
.input {
  height: 40px;
  width: 291px;
  border-radius: 30px;
  background-color: #ffffff;
}

.buttonContainer {
  width: 291px;
  margin: 5vh auto;
}
.buttonNext {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  background-color: #191919;
  border-color: #191919;
  color: white;
  font-family: "Circular Air";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  border: 0;
}
.buttonNext:hover {
  cursor: grabbing;
}
