@import url(//db.onlinewebfonts.com/c/b0bc116d1147a46e14ddecc083e553b7?family=Circular+Air+Light);
@import url(//db.onlinewebfonts.com/c/75a1f6889a05c2303915747df0bf0738?family=Imperator);

/* .welcomeTo {
  position: absolute;
  top: 13vh;
  left: 35vw;

  width: 30%;
  color: #ffffff;
  font-family: "Circular Air";
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27px;
  text-align: center;
} */
.welcomeTo {
  padding-top: 13vh;

  width: 30%;
  color: #ffffff;
  font-family: "Circular Air";
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27px;
  text-align: center;
  margin: auto;
}
.fontHeader {
  margin-top: 3vh;
  width: 330px;
  color: #ffffff;
  font-family: Imperator;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 34px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.line {
  box-sizing: border-box;
  height: 1px;
  width: 100px;
  border: 1px solid #ffffff;
  margin: 2vh auto;
}
.lorem {
  height: 92px;
  width: 291px;
  color: #ffffff;
  font-family: "Circular Air";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
  margin: 5vh auto;
}
.buttonGroup {
  display: flex;
  width: 291px;
  flex-direction: column;
  gap: 2vh;
  margin: auto;
}
.buttonAbout {
  height: 60px;
  width: 291px;
  border-radius: 30px;
  background-color: #191919;
  color: #ffffff;
  font-family: "Circular Air";
  font-size: 15px;
  font-weight: 300;
  border: 0;
}
.buttonAbout:hover {
  cursor: grabbing;
}
.buttonStart {
  height: 60px;
  width: 291px;
  border-radius: 30px;
  background-color: #191919;
  color: #ffffff;
  font-family: "Circular Air";
  font-size: 15px;
  font-weight: 300;
  border: 0;
}
.buttonStart:hover {
  cursor: grabbing;
}

.monster {
  margin-left: 25%;
  margin-top: -2.5%;
  width: 75vw;
  aspect-ratio: 2/1;
}
